<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
    <add name="LoggingConnectionString" connectionString="Data Source=localhost;Initial Catalog=CosmoMongerLog;Persist Security Info=True;User ID=CosmoUser;Password=CosmoMonger"
      providerName="System.Data.SqlClient" />
    <add name="CosmoMongerConnectionString" connectionString="Data Source=localhost;Initial Catalog=CosmoMonger;Persist Security Info=True;User ID=CosmoUser;Password=CosmoMonger"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
